{% extends "base.html" %}
{% block header_row %} {% endblock header_row %}
{% block content_row %}
    <aside class="sidebar clearfix" style="overflow-y: auto">
        <nav class="primary clearfix">
            <ul>
                <li><a href="#" onclick="filter('*')">Show All </a></li>
                {% for socket in sockets %}
                    <li><a href="#" onclick="filter('{{socket}}')">{{socket}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </aside>

    <div class="container">
        <div class="row">
            <section class="main clearfix">
                    <div class="col-3 entry filtering">
                        <ul id='id_motherboard'>
                           {% for motherboard in motherboards %}
                                <li><p>{{ motherboard.name }}</p></li>
                           {% endfor %}
                        </ul>
                    </div>
                    <div class="col-3 entry filtering">
                        <ul id='id_cpu'>
                            {% for cpu in cpus %}
                                <li><p>{{ cpu.name }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-3 entry filtering">
                        <ul id='id_memory'>
                            {% for memory in memory %}
                                <li><p>{{ memory.name }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
            </section>
        </div>
    </div>
{% endblock content_row %}
{% block javascript %}
<script type="text/javascript">
    function filter(socket) {
        $.ajax({
            type: 'POST',
            url: "{% url 'filter' %}",
            data: {
                'csrfmiddlewaretoken':'{{ csrf_token }}',
                'socket': socket,
            }
        }).done(function(response) {
            $("#id_motherboard").html("");
            $("#id_cpu").html("");
            var breaking = 0

            for (i = 0; i < response.length; i++) {
                if (response[i] == ";") {
                    breaking = 1;
                } else {
                    li = '<li><p>'+response[i]+'</p></li>';

                    if (breaking == 0){
                        $("#id_motherboard").append(li);
                    } else {
                        $("#id_cpu").append(li);
                    }
                }
            }
        });
    }
</script>
{% endblock javascript %}
