{% extends "base.html" %}

{% block header_row %} {% endblock header_row %}

{% block content_row %}
    <aside class="sidebar clearfix">
        <nav class="primary clearfix"> 
            <ul> 
                <li><a href="#" data-filter='*' onclick="mothercpufilter(this)">Show All </a></li>
                {% for motherboard in motherboards %}
                    <li><a href="#" data-filter=".{{motherboard.socket}}" onclick="mothercpufilter(this)">{{motherboard.socket}}</a></li>
                {% endfor %}

            </ul> 
        </nav> 
    </aside> 

    <div class="container"> 
        <div class="row">
            <section class="main clearfix"> 
                    <div class="col-3 entry filtering">
                        <ul>
                           {% for motherboard in motherboards %}
                                <li><p data-filter=".{{motherboard.socket}}" onclick="mothercpufilter(this)" class="mothercpu {{ motherboard.socket }}">{{ motherboard.name }}</p></li>
                           {% endfor %}
                        </ul>
                    </div>
                    <div class="col-3 entry filtering">
                        <ul>
                            {% for cpu in cpus %}
                                <li><p data-filter=".{{cpu.socket}}" onclick="mothercpufilter(this)" class="mothercpu {{ cpu.socket }}">{{ cpu.name }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-3 entry filtering">
                        <ul>
                            {% for memory in memory %}
                                <li><p class="memory {{ memory.ram_module }}">{{ memory.name }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
            </section>
        </div>
    </div>

{% endblock content_row %}

{% block javascript %}

<script>


    // var $mothercpu = $('.filtering').isotope({
    //     itemSelector: '.mothercpu'
    // });

    function mothercpufilter(identifier) {
        console.log($(identifier).data("filter"))
        $mothercpu.isotope({ filter: $(identifier).data("filter") });
    };

</script>


{% endblock javascript %}